version: '3.6'

services:
  gitlab:
    image: gitlab/gitlab-ce:{{ gitlab_version }}
    hostname: git.nerdtakula.com
    container_name: gitlab
    restart: always
    ulimits:
      sigpending: 62793
      nproc: 131072
      nofile: 60000
      core: 0
    ports:
      - "9922:22"
      - "80:80"
      - "443:443"
    volumes:
      - /home/git/.ssh/authorized_keys:/var/opt/gitlab/.ssh/authorized_keys
      - /var/log/gitlab:/var/log/gitlab
      - /mnt/gitlab-data/data:/var/opt/gitlab
      - /mnt/gitlab-data/config:/etc/gitlab
      - /mnt/gitlab-data/certs:/etc/gitlab/ssl
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        # Gitlab basic configuration
        letsencrypt['enable'] = false
        letsencrypt['contact_emails'] = ['debops+gitlab@nerdtakula.com']
        # letsencrypt['auto_renew'] = false
        # letsencrypt['auto_renew_hour'] = "12"
        # letsencrypt['auto_renew_minute'] = "30"
        # letsencrypt['auto_renew_day_of_month'] = "*/7"
        external_url 'https://{{ domain_name }}/' # Must use https protocol
        gitlab_rails['registry_enabled'] = false
        gitlab_rails['time_zone'] = 'Pacific/Auckland'
        gitlab_rails['lfs_enabled'] = true
        gitlab_rails['initial_root_password'] = 'Ch4ng3:M3'

        # OmniAuth Configuration
        gitlab_rails['omniauth_enabled'] = true
        gitlab_rails['omniauth_external_providers'] = ['saml']
        gitlab_rails['omniauth_allow_single_sign_on'] = ['saml']
        gitlab_rails['omniauth_sync_email_from_provider'] = 'saml'
        gitlab_rails['omniauth_block_auto_created_users'] = false
        gitlab_rails['omniauth_auto_link_ldap_user'] = false
        gitlab_rails['omniauth_sync_profile_from_provider'] = ['saml']
        gitlab_rails['omniauth_sync_profile_attributes'] = ['email']
        gitlab_rails['omniauth_auto_link_saml_user'] = true
        # Uncomment this once you 100% ready to use SSO
        # gitlab_rails['omniauth_auto_sign_in_with_provider'] = 'saml'
        gitlab_rails['omniauth_providers'] = [
          {
            # G-Suite
            'name': 'saml',
            'args': {
                    'assertion_consumer_service_url': 'https://{{ domain_name }}/users/auth/saml/callback',
                    'idp_cert_fingerprint': 'XX:DD:90:D2:15:9F:12:78:D5:XX:XX:88:XX:6E:XX:FD:XX:60:XX:B1',
                    'idp_sso_target_url': 'https://accounts.google.com/o/saml2/idp?idpid=XXXXXXXXX',
                    'issuer': 'https://{{ domain_name }}',
                    'name_identifier_format': 'urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress',
                    'attribute_statements': { 'email': ['emailAddress'] }
                  },
            'label': 'G Suite'
          }
        ]

        # LDAP configuration
        gitlab_rails['ldap_enabled'] = false
        # gitlab_rails['ldap_servers'] = YAML.load <<-'EOS' # remember to close this block with 'EOS' below
        #   main: # 'main' is the GitLab 'provider ID' of this LDAP server
        #     label: 'LDAP'
        #     host: '172.16.3.100'
        #     port: 389
        #     uid: 'uid'
        #     method: 'plain' # "tls" or "ssl" or "plain"
        #     bind_dn: 'cn=Directory Manager'
        #     password: '87654321'
        #     active_directory: false
        #     allow_username_or_email_login: true
        #     block_auto_created_users: false
        #     base: 'ou=People,dc=bis2,dc=net'
        # EOS

        # Email Settings
        gitlab_rails['gitlab_email_from'] = 'gitlab@nerdtakula.com'
        gitlab_rails['gitlab_email_display_name'] = 'GitLab nerdtakula'
        gitlab_rails['gitlab_email_reply_to'] = 'devops+gitlab@nerdtakula.com'
        gitlab_rails['gitlab_email_subject_suffix'] = 'GitLab nerdtakula'

        # Gmail SMTP configuration
        gitlab_rails['smtp_enable'] = true
        gitlab_rails['smtp_address'] = "smtp.gmail.com"
        gitlab_rails['smtp_port'] = 587
        gitlab_rails['smtp_user_name'] = "noreply@nerdtakula.com"
        gitlab_rails['smtp_password'] = "************"
        gitlab_rails['smtp_domain'] = "smtp.gmail.com"
        gitlab_rails['smtp_authentication'] = "login"
        gitlab_rails['smtp_enable_starttls_auto'] = true
        gitlab_rails['smtp_tls'] = false
        gitlab_rails['smtp_openssl_verify_mode'] = "peer" # Can be: 'none', 'peer', 'client_once', 'fail_if_no_peer_cert', see http://api.rubyonrails.org/classes/ActionMailer/Base.html

        # # Disable the built-in Postgres
        # postgresql['enable'] = false
        # # Recommend value is 1/4 of total RAM, up to 14GB.
        # postgresql['shared_buffers'] = '2GB'
        # # PostgreSQl database configuration
        # gitlab_rails['db_adapter'] = 'postgresql'
        # gitlab_rails['db_encoding'] = 'utf8'
        # gitlab_rails['db_host'] = 'gitlab-db.nerdtakula.com'
        # gitlab_rails['db_port'] = 5432
        # gitlab_rails['db_database'] = 'database-name'
        # gitlab_rails['db_username'] = 'database-username'
        # gitlab_rails['db_password'] = 'database-password'

        # Backups
        gitlab_rails['backup_keep_time'] = 14515200

        # Workers
        unicorn['worker_timeout'] = 60
        unicorn['worker_processes'] = 3

        # Logging
        logging['logrotate_frequency'] = "weekly"
        logging['logrotate_rotate'] = 52
        logging['logrotate_compress'] = "compress"
        logging['logrotate_method'] = "copytruncate"
        logging['logrotate_delaycompress'] = "delaycompress"

        # Nginx overrides
        nginx['enable'] = true
        nginx['listen_port'] = 443
        nginx['redirect_http_to_https'] = true
        nginx['ssl_ciphers'] = "ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES128-SHA256:DHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:DES-CBC3-SHA:HIGH:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4"
        nginx['ssl_prefer_server_ciphers'] = "on"
        nginx['ssl_protocols'] = "TLSv1.1 TLSv1.2" # recommended by https://raymii.org/s/tutorials/Strong_SSL_Security_On_nginx.html & https://cipherli.st/
        nginx['ssl_session_cache'] = "builtin:1000  shared:SSL:10m" # recommended in http://nginx.org/en/docs/http/ngx_http_ssl_module.html
        nginx['ssl_session_timeout'] = "5m" # default according to http://nginx.org/en/docs/http/ngx_http_ssl_module.html
        nginx['listen_addresses'] = ['*']
        nginx['logrotate_frequency'] = "weekly"
        nginx['logrotate_rotate'] = 52
        nginx['logrotate_compress'] = "compress"
        nginx['logrotate_method'] = "copytruncate"
        nginx['logrotate_delaycompress'] = "delaycompress"

        # Add any other gitlab.rb configuration here, each on its own line
